doctype html
html
  head
    title= title
    link(href='http://fonts.googleapis.com/css?family=Leckerli+One' rel='stylesheet' type='text/css')
    link(rel='stylesheet', href='/stylesheets/index.css')
block content
    
  h1 Sign Up  

  fieldset(id='fs2')
    if error
      p(id='error') #{error}
    form(action='/sign_up' method='post')
      label(for='login') Username
      p
      input(type='text' name='user_name' id='login')
      p   
      label(for='password') Password
      p 
      input(type='password' name='password' id='password')
      p
      label(for='passconf') Password Confirmation
      p 
      input(type='password' name='passconf' id='passconf')
      p
      input(type='submit' value='Sign Up' id='button')

      
